ignore this file
.DS_Store
.DS_Store
src/.DS_Store
src/.DS_Store
.DS_Store
src/ButtonColumn.class
*.class
src/ButtonColumn.class
src/CheckoutPage.class
src/Database.class
src/FinanceManager.class
src/GUITest.class
src/LoginPage.class
src/LoginRegisterManager.class
src/MainMenu.class
src/Manager.class
src/RegisterPage.class
src/SeatingPage$1.class
src/SeatingPage.class
src/TestBench.class
src/TestBench.java
src/User.class
